<div class="main-dashboard">
    <div class="dashboard-header">
        <h4>Hello, Zuykorean</h4>
        <ul class="dashboard-date_opt">
            <li>Today</li>
            <li>Week</li>
            <li>Month</li>
            <li>Year</li>
        </ul>
    </div>
    <div class="container dashboard-total">
        <div class="row align-items-start">
            <div class="col total-info total-views">
                <img src="./images/Admin/total_views_icon.png" alt="">
            </div>
            <div class="col total-info total-order">
            </div>
            <div class="col total-info total-revenge">
            </div>
        </div>
    </div>
</div>