<div id="movie_ticket_container" class="container">
    <div class="d-flex">
        <image id="movie_ticket_poster" src="/images/Movie/aladdin.jpg" alt=""/>
        <div class="flex-grow-1">
            <div class="d-flex align-items-center">
                <h1 id="movie_ticket_title">Aladdin</h1>
                <div id="age_restrict">NC-17</div>
            </div>
            <p class="py-1"><span class="text-hightlight">Director: </span>Guy Ritchie</p>
            <p class="py-1"><span class="text-hightlight">Main cast: </span>Will Smith, Mena Massoud, Naomi Scott</p>
            <p class="py-1"><span class="text-hightlight">Release day: </span>13 June, 2022</p>
            <p class="py-1"><span class="text-hightlight">Duration: </span>128min</p>
            <p class="py-1"><span class="text-hightlight">Genres: </span>Adventage | Comedy | Family</p>
            <p class="py-1">
                <span class="text-hightlight">Storyline: </span>A kind-hearted street urchin Aladdin vies for the love of the beautiful princess Jasmine, the princess of Agrabah. When he finds a magic lamp, he uses the genie's magic power to make himself a prince in order to marry her. He's also on a mission to stop the powerful Jafar who plots to steal the magic lamp that could make his deepest wishes come true.
            </p>
            <button id="trailer_btn" class="position-relative btn_config" style="background-color: var(--pri-btn-color);">
                <div class="custom_btn">
                    Watch trailer
                </div>
            </button>
        </div>
    </div>
    <hr>
    <nav class="d-flex">
        <div class="buy_ticket_step buy_ticket_step-active">
            <div class="step_num">1</div>
            Choose Theater
        </div>
        <div class="buy_ticket_step">
            <div class="step_num">2</div>
            Choose your seat
        </div>
        <div class="buy_ticket_step">
            <div class="step_num">3</div>
            Choose Ticket/Food
        </div>
        <div class="buy_ticket_step">
            <div class="step_num">4</div>
            Confirm & Purchase
        </div>
    </nav>
    <div class="movie_ticket_main">
        <div class="theater_wrap">
            
        </div>
    </div>
</div>