<div class="d-flex justify-content-center align-items-center container h-100">
    <div class="d-flex flex-column align-items-center justify-content-around w-50 py-3 px-2">
        <img id="profile_avatar" src="/images/UserImg/unknowUser.jpg" alt="user">
        <div class="w-75 user_info_item">
            <label for="full_name_profile" class="form-label">Full name:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="full_name_profile" disabled>
                <span class="input-group-text cursor-pointer"><i class="fa-solid fa-pencil" style="color: black;"></i></span>
            </div>
        </div>
        <div class="w-75 user_info_item">
            <label for="email" class="form-label">Email:</label>
            <div class="input-group">
                <input type="email" class="form-control" id="email" disabled>
                <span class="input-group-text cursor-pointer"><i class="fa-solid fa-pencil" style="color: black;"></i></span>
            </div>
        </div>
        <div class="w-75 user_info_item">
            <label for="phone" class="form-label">Phone number:</label>
            <div class="input-group">
                <input type="tel" class="form-control" id="phone" placeholder="Phone number" disabled>
                <span class="input-group-text cursor-pointer"><i class="fa-solid fa-pencil" style="color: black;"></i></span>
            </div>
        </div>
        <div class="w-75 user_info_item">
            <label for="address" class="form-label">Address:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="address" placeholder="Address" disabled>
                <span class="input-group-text cursor-pointer"><i class="fa-solid fa-pencil" style="color: black;"></i></span>
            </div>
        </div>
        <div class="w-75 user_info_item">
            <label for="birthday" class="form-label">Birthday:</label>
            <div class="input-group">
                <input type="date" class="form-control" id="birthday">
                <span class="input-group-text cursor-pointer"><i class="fa-solid fa-floppy-disk" style="color: black;"></i></span>
            </div>
        </div>
        <button class="btn btn-danger mt-4 w-75">Change password</button>
    </div>
</div>