:root{
    --main-color: #954edb;
    --main-light-color: #a66ce0;
    --grey-color: #eeeeee;
    --pri-btn-color: #8d9cef;
    --sed-btn-color: #eda0e0;
    --grey-trans-color: rgba(238, 238, 238, 0.3);
    --card-color: #f7d4c8;
    --tag-color: #f99b9d;
}

body{
    min-height: 100vh;
    position: relative;
}

ul{
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    list-style-type: none;
    color: white;
}

a{
    text-decoration: none !important;
}

p{
    margin-bottom: .25rem !important;
}

.carousel-item img{
    max-height: 100vh;
}

button{
    border: none;
}

.dropdown-item{
    padding: 0.75rem 1rem !important;
}

.dropdown-item i{
    padding-right: 8px;
}

.header{
    height: 80px;
    padding: 12px 0;
    background-color: var(--grey-trans-color);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 4px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 4px 12px 0px rgba(0,0,0,0.75);
}

.logo{
    height: 56px;
    user-select: none;
}

.search_bar{
    display: flex;
    align-items: center;
    min-width: 300px;
    border-radius: 24px;
    outline: var(--main-light-color) solid 1px;
    overflow: hidden;
}

.search_input{
    flex: 1;
    border: none;
    margin: 0 12px;
    padding: 8px 8px;
}

.search_input:focus-visible{
    outline: none;
}

.search_bar:has(> .search_input:focus-visible){
    outline: var(--main-color) solid 2px;
}

.search_icon_wrap{
    padding: 8px 12px;
    background-color: var(--main-light-color);
    transition: all .4s;
    border-radius: 0 24px 24px 0;
    cursor: pointer;
}

.search_icon{
    color: white;
}

.search_icon_wrap:hover{
    background-color: var(--main-color);
}

.search_icon_wrap:hover .search_icon{
    color: black;
}

.nav_bar{
    background-color: black;
    height: 50px;
}

.nav_item{
    flex: 1;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 0;
    cursor: pointer;
    transition: all .4s;
    user-select: none;
    min-width: 120px;
    color: black;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.nav-active{
    color: var(--main-light-color);
}

.nav_item:hover{
    letter-spacing: 3px;
    color: var(--main-color);
    font-weight: bold;
}

.title_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification_icon{
    font-size: 24px;
    margin-left: 32px;
}

.btn_config{
    margin: 0 12px;
    width: 98px;
    height: 52px;
    border-radius: 24px;
}

.custom_btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 35px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    z-index: 1;
    font-weight: 500;
    overflow: hidden;
    transition: 0.5s;
}

.custom_btn:hover{
    letter-spacing: 0.125rem;
    color: var(--main-color)
}

.custom_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.25), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.custom_btn:hover::before{
    transform: skewX(45deg) translateX(200%);
}

.movie_filter{
    width: 84px;
    height: 36px;
    margin-right: 24px;
    border-radius: 6px;
    transition: all .4s;
    box-shadow: 0 0 8px 4px #d1d5db;
}

.movie_filter:hover{
    background-color: var(--main-color);
    transform: scale(1.1);
}

div:has(.movie_filter:hover) .movie_filter:not(.movie_filter:hover){ 
    background-color: #0f0f0f0f !important;
    opacity: 0.5;
}

.filter-active{
    background-color: var(--main-light-color);
}

.list_movie{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1.25rem;
    margin-bottom: 32px;
}

.movie_wrap{
    background-color: var(--grey-color);
    border-radius: 8px;
    width: 100%;
    transition: all .4s;
    overflow: hidden;
}

.movie_wrap:hover{
    transform: scale(1.05) translateZ(3px);
}

.movie_wrap:hover .movie_poster{
    transform: scale(1.05);
}

.movie_poster{
    width: 100%;
    aspect-ratio: .75;
    border-radius: 8px 8px 0 0;
    transition: all .4s;
    background-position: center;
    background-size: cover;
}

.movie_name{
    font-weight: bold;
}

.movie_duration, .movie_category, .movie_split{
    color: var(--main-light-color);
}

.release_date{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 35%;
    right: 0;
    height: 40px;
    width: 132px;
    background-color: var(--tag-color);
    font-weight: 500;
    opacity: 0.8;
}